

<form action="/detal" method="post" class="form-control mt-5">
    <input type="text" name="name" class="form-control my-2" placeholder="Name">
    <input type="text" name="fam" class="form-control my-2" placeholder="Familya">
    <input  type="number" name="age" class="form-control" placeholder="yoshingiz">
    <button class="btn btn-info mt-3">Qo'shish</button>
</form>
<a href="/table" class="btn btn-primary my-3">Ro'yxatni korish</a>