<table class="table">
  <thead>
    <tr>
      <th scope="col">ism</th>
      <th scope="col">Familya</th>
      <th scope="col">yoshi</th>
    </tr>
  </thead>
  <tbody>
       {{#each array}}
    <tr>
      <th >{{name}}</th>
      <td>{{fam}}</td>
      <td>{{age}}</td>
      
    </tr>
       {{/each}}
   
  </tbody>
</table>